## Lesson 4: Exercises

Today, we'll be going over a couple Python exercises to reinforce your knowledge about tables and basic statistics.

In [2]:
import numpy as np
from datascience import *

 
Royal Challengers Bangalore finished last in IPL 2017. The coach wants to build a strong team next year to win the trophy by buying the best possible players in the auction. He’s a great cricketer and coach, but he’s not very good at math! Your job is write a program to help him put a team together that's within his budget. There are 3 categories of players with the following costs in crores.
Tier 1: 10
Tier 2: 5
Tier 3: 2
 
The coach has 100 crores to spend and can purchase 11 to 16 players he wants from this set of 20. Write a function that accepts the coach's input for the number of players he wants that's within his budget. 


Thus your function should also print out a team sheet with the input number of players by using the random function to return however many ever players required from each tier.  If he enters a number below 11 or above 16, return an error message. 

 
Sample Output: 
5 tier one players and 6 tier two players
["Virat Kohli", "Joe Root",
"Ravindra Jadeja", 
"Shakib Al Hasan",  
"Morne Morkel", 
"Hardhik Pandeya",
"Sarfaraz Khan", 
"Umesh Yadhav", 
"Yusuf Pathan", 
"Usman Khwaja",  
"Mitchell Marsh"]
Sample Input : 
10
 
Sample Output: 
Too few players for the team!

In [22]:
names = ["Virat Kohli", "Joe Root",
"Ravindra Jadeja", 
"Shakib Al Hasan",  
"Morne Morkel", 
"Hardhik Pandeya",
"Sarfaraz Khan", 
"Umesh Yadhav", 
"Yusuf Pathan", 
"Usman Khwaja",  
"Mitchell Marsh"]
players = Table().with_columns("Tier", [1]*5 + [2] * 6,
                    "Name", names , "Salary", [10] * 5 + [5] * 6)
players

Tier | Name            | Salary
1    | Virat Kohli     | 10
1    | Joe Root        | 10
1    | Ravindra Jadeja | 10
1    | Shakib Al Hasan | 10
1    | Morne Morkel    | 10
2    | Hardhik Pandeya | 5
2    | Sarfaraz Khan   | 5
2    | Umesh Yadhav    | 5
2    | Yusuf Pathan    | 5
2    | Usman Khwaja    | 5
... (1 rows omitted)

In [44]:
def select_players(n):
    if n < 11:
        print("Too few players!")
    elif n > 16:
        print("Too many players!")
    else:
        tier_1 = 
        tier_2 = 
        tier_3 = 
        t1 = players.where("Tier", are.equal_to(1)).take(range(0, tier_1)).column("Name")
        t2 = players.where("")
        #Keep going from here, return t1 + t2 + t3, print total cost
        total_salary = 
        if total_salary > 100:
            return "Too expensive! Select "
        return t1

SyntaxError: invalid syntax (<ipython-input-44-52fef59e4036>, line 7)

In [42]:
select_players(11)

Name
Virat Kohli
Joe Root

Raju the builder has made N measurements. Now, he wants to know the average value of the measurements made. In order to make the average value a better representative of the measurements, before calculating the average, he wants first to remove the highest K and the lowest K measurements. After that, he will calculate the average value among the remaining N - 2K measurements.
Could you help Raju find the average value he will get after these manipulations?


Sample Input: 
N - 5 
K - 1
N values - 2 9 -10 25 1
Sample Output: 
4.00000

In [ ]:
def new_measurements(n, k, arr):
    
    for i in range(___, ___):