## Lesson 4: Exercises

Today, we'll be going over a couple Python exercises to reinforce your knowledge about tables and basic statistics.

In [2]:
import numpy as np
from datascience import *

**RCB's Cricket Confusion** Should this be a "challenge problem?"

Royal Challengers Bangalore finished last in IPL 2017. The coach wants to build a strong team next year to win the trophy by buying the best possible players in the auction. He’s a great cricketer and coach, but he’s not very good at math! Your job is write a program to help him put a team together that's within his budget. There are 3 categories of players with the following costs in crores.
Tier 1: 1
Tier 2: 0.5
Tier 3: 0.25
 
The coach has 10 crores to spend and can purchase 11 to 16 players he wants from this set of 28. Write a function that accepts the coach's input for the number of players he wants that's within his budget.
*Return* the players' total salary and *print* their names.
REMEMBER: We refer to the first value in a column with 0!

 
Sample Output: select_players(2, 4, 5)
[MS Dhoni, Virat Kohli, Suresh Raina, Ambati Rayudu, Rohit Sharma, Murali Vijay, Amit Mishra, Axar Patel, Stuart Binny, Wriddhiman Saha, Mohit Sharma]
5.25

Sample Input: select_players(2, 2, 5)
Sample Output: Too few players!

Sample Input: select_players(10, 3, 1)
Sample Output: Too many players!

In [17]:
players = Table().read_table("cricket_tiers.csv")
#Source: http://www.totalsportek.com/cricket/indian-player-salaries-central-contracts-2015/
players

PLAYER            | Salary | Tier
MS Dhoni          | 1      | 1
Virat Kohli       | 1      | 1
Ajinkya Rahan     | 1      | 1
Ravi Ashwin       | 1      | 1
Suresh Raina      | 0.5    | 2
Ambati Rayudu     | 0.5    | 2
Rohit Sharma      | 0.5    | 2
Murali Vijay      | 0.5    | 2
Shikhar Dhawan    | 0.5    | 2
Bhuvneshwar Kumar | 0.5    | 2
... (18 rows omitted)

Hint: The code below will help you decide how to select players of each tier. What do you think each line says?

In [15]:
for i in range(1, 4):
    print(players.where("Tier", are.equal_to(i)).num_rows)

4
10
14

In [ ]:
def select_players(tier_1, tier_2, tier_3):
    total_players = tier_1 + tier_2 + tier_3
    if total_players < 11:
        print("Too few players!")
    elif total_players > 16:
        print("Too many players!")
    else:
        t1 = players._________("______", are.equal_to(_______)).take(range(0, tier_1)).column("PLAYER")
        t2 =
        t3 = 
        
        #How will you access the players' names using the column() function?
        
        
        
        total_salary = __________+_____________+______________
        if total_salary > 100:
            return "Too expensive! Select a different combination!"
        return total_salary

**Building a Better Estimate**

Raju the builder has made N measurements. Now, he wants to know the average value of the measurements made. In order to make the average value a better representative of the measurements, before calculating the average, he wants first to remove the highest K and the lowest K measurements. After that, he will calculate the average value among the remaining N - 2K measurements.
Could you help Raju find the average value he will get after these manipulations?


Sample Input: 
N - 5 
K - 1
N values - 2 9 -10 25 1
Sample Output: 
4.00000

In [ ]:
def new_measurements(n, k, arr):
    
    for i in range(___, ___):

**Aditi’s Career Planning**
 
Aditi can’t decide what field she wants to work in when she grows up! She likes medicine and engineering equally so her father advised her to pick the field that pays the most to an average worker. Aditi has collected tables containing the necessary data on the salaries of professionals in these fields and stored them in 2 unsorted arrays. Can you help her find out which job to pick as per her father’s advice? 

Hint: use the sort() function.

In [6]:
engg_salaries = Table.read_table("engineering_data.csv").column("Salary")
#Source: http://research.aspiringminds.com/resources/#datasets
doc_salaries = Table.read_table("doctor_salaries.csv").column("Salary")
#Source: https://www.glassdoor.com/Salaries/india-doctor-salary-SRCH_IL.0,5_IN115_KO6,12_IP6.htm

In [ ]:
def salary(med, engg, law):
    #In Python, we can define functions inside our own functions. 
    #This function will compute a certain quantity from each array for you to help you compare the salaries.
    #What quantity do you think it is?
    def helper(array):
        
        _________________
        
        _________________
        length = len(array)
        if ___________:
            return array[___]
        else:
            return __________
        
    med_salary = _____________
    engg_salary = ____________
    law_salary = _____________
    #The max() function takes the maximum of all the values you put into it
    best_salary = max(___________, ______________, ___________) 
    if best_salary == engg_salary:
        print("Engineering")
    elif best_salary == med_salary:
        print("Medicine")
    else:
        print(law)