<img src="../dsi.png" style="height:128px;">

# Lesson 10: Case Study

You’ve learned a lot about data science in this course! Now, you’ll get the chance to go over the topics we covered while analyzing real-world data. We’re going to be looking at some data about engineers in India from the Aspiring Minds Employability Outcomes Survey (http://research.aspiringminds.com/resources/#ameo). This dataset contains information about their salaries, positions, academic performance, and much more!

In [8]:
import numpy as np
from datascience import *
from matplotlib import pyplot as plt
import random
%matplotlib inline
plt.style.use('fivethirtyeight')

The main table we're going to be using for this analysis is going to be called `salaries`

In [9]:
salaries = Table().read_table("engineering_data.csv").drop(0).where("JobCity", are.not_equal_to("-1"))

## Question 1: Warm-Up

Let's take a look at our table of salaries and answer a couple questions.

In [15]:
salaries

ID      | Salary  | DOJ         | DOL         | Designation              | JobCity   | Gender | DOB          | 10percentage | 10board                        | 12graduation | 12percentage | 12board                            | CollegeID | CollegeTier | Degree      | Specialization                            | collegeGPA | CollegeCityID | CollegeCityTier | CollegeState   | GraduationYear | English | Logical | Quant | Domain   | ComputerProgramming | ElectronicsAndSemicon | ComputerScience | MechanicalEngg | ElectricalEngg | TelecomEngg | CivilEngg | conscientiousness | agreeableness | extraversion | nueroticism | openess_to_experience
203097  | 420000  | 6/1/12 0:00 | present     | senior quality engineer  | Bangalore | f      | 2/19/90 0:00 | 84.3         | board ofsecondary education,ap | 2007         | 95.8         | board of intermediate education,ap | 1141      | 2           | B.Tech/B.E. | computer engineering                      | 78         | 1141          | 0               | Andhra Pradesh | 2011           | 515     | 585     | 525   | 0.635979 | 445                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.9737            | 0.8128        | 0.5269       | 1.3549      | -0.4455
579905  | 500000  | 9/1/13 0:00 | present     | assistant manager        | Indore    | m      | 10/4/89 0:00 | 85.4         | cbse                           | 2007         | 85           | cbse                               | 5807      | 2           | B.Tech/B.E. | electronics and communication engineering | 70.06      | 5807          | 0               | Madhya Pradesh | 2012           | 695     | 610     | 780   | 0.960603 | -1                  | 466                   | -1              | -1             | -1             | -1          | -1        | -0.7335           | 0.3789        | 1.2396       | -0.1076     | 0.8637
810601  | 325000  | 6/1/14 0:00 | present     | systems engineer         | Chennai   | f      | 8/3/92 0:00  | 85           | cbse                           | 2010         | 68.2         | cbse                               | 64        | 2           | B.Tech/B.E. | information technology                    | 70         | 64            | 0               | Uttar Pradesh  | 2014           | 615     | 545     | 370   | 0.450877 | 395                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.2718            | 1.7109        | 0.1637       | -0.8682     | 0.6721
267447  | 1100000 | 7/1/11 0:00 | present     | senior software engineer | Gurgaon   | m      | 12/5/89 0:00 | 85.6         | cbse                           | 2007         | 83.6         | cbse                               | 6920      | 1           | B.Tech/B.E. | computer engineering                      | 74.64      | 6920          | 1               | New Delhi      | 2011           | 635     | 585     | 625   | 0.974396 | 615                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.0464            | 0.3448        | -0.344       | -0.4078     | -0.9194
343523  | 200000  | 3/1/14 0:00 | 3/1/15 0:00 | get                      | Manesar   | m      | 2/27/91 0:00 | 78           | cbse                           | 2008         | 76.8         | cbse                               | 11368     | 2           | B.Tech/B.E. | electronics and communication engineering | 73.9       | 11368         | 0               | Uttar Pradesh  | 2012           | 545     | 625     | 465   | 0.124502 | -1                  | 233                   | -1              | -1             | -1             | -1          | -1        | -0.881            | -0.2793       | -1.0697      | 0.09163     | -0.1295
1027655 | 300000  | 6/1/14 0:00 | present     | system engineer          | Hyderabad | m      | 7/2/92 0:00  | 89.92        | state board                    | 2010         | 87           | state board                        | 5086      | 2           | B.Tech/B.E. | electronics and communication engineering | 76.32      | 5086          | 0               | Karnataka      | 2014           | 560     | 555     | 620   | -1       | 645                 | -1                    | 407             | -1             | -1             | -1          | -1        | -0.3027           | -0.6201       | -2.2954      | -0.7415     | -0.8608
947847  | 300000  | 8/1/14 0:00 | 5/1/15 0:00 | java software engineer   | Banglore  | m      | 2/1/93 0:00  | 86.08        | state board                    | 2010         | 67.5         | state board                        | 314       | 2           | B.Tech/B.E. | computer science & engineering            | 72.98      | 314           | 1               | Karnataka      | 2014           | 590     | 435     | 380   | 0.356536 | 405                 | -1                    | 346             | -1             | -1             | -1          | -1        | 1.7081            | -0.1054       | -1.0379      | -2.0092     | -1.0872
912934  | 400000  | 7/1/14 0:00 | 7/1/15 0:00 | mechanical engineer      | Bangalore | m      | 5/27/92 0:00 | 92           | cbse                           | 2010         | 91           | cbse                               | 1757      | 1           | B.Tech/B.E. | mechanical engineering                    | 8.58       | 1757          | 0               | Tamil Nadu     | 2016           | 545     | 555     | 590   | 0.829585 | -1                  | -1                    | -1              | 469            | -1             | -1          | -1        | -0.0154           | 1.2114        | 0.01         | 0.1459      | 1.247
552574  | 600000  | 7/1/13 0:00 | present     | electrical engineer      | Noida     | m      | 9/17/91 0:00 | 90           | cbse                           | 2009         | 91.2         | cbse                               | 13        | 1           | B.Tech/B.E. | electronics and electrical engineering    | 85.03      | 13            | 1               | New Delhi      | 2013           | 615     | 670     | 530   | 0.694479 | 735                 | 366                   | -1              | -1             | -1             | -1          | -1        | -0.159            | 0.5454        | -0.6048      | -0.7415     | -0.2859
1203363 | 230000  | 7/1/14 0:00 | present     | project engineer         | Kolkata   | m      | 6/13/93 0:00 | 77           | cbse                           | 2010         | 72.2         | cbse                               | 8640      | 2           | B.Tech/B.E. | electronics and communication engineering | 78         | 8640          | 1               | West Bengal    | 2014           | 605     | 565     | 545   | 0.493596 | 385                 | 324                   | -1              | -1             | -1             | -1          | -1        | -1.308            | 0.5454        | -0.9122      | 0.9066      | 0.0973
... (3527 rows omitted)

**A.** Was this a randomized controlled experiment or experimental study? Why?

**Answer (double click this cell to edit):**

**B.** Does this dataset describe a sample or a population? Why?

**Answer:**

**C.** Calculate the average salary of all the graduates. Hint: Is there a numpy function that you can use?

In [1]:
"***YOUR CODE HERE***"

'***YOUR CODE HERE***'

**D.** Calculate the standard deviation of the salaries. To do this, first define a function that calculates the standard deviation of an input array.
**Hint:** `np.sqrt` will help you find the square root.

In [ ]:
"***YOUR CODE HERE***"

## Question 2: Tables and Probability

Now, let's take a deeper look at this dataset.

**A.** We want to look at where people choose to work after they go to college. From salaries, create a two-column table job_cities with one column for job locations, and another column for college locations.

In [21]:
#Don't re-run this
job_cities = salaries.select("JobCity", "CollegeState")
job_cities

JobCity   | CollegeState
Bangalore | Andhra Pradesh
Indore    | Madhya Pradesh
Chennai   | Uttar Pradesh
Gurgaon   | New Delhi
Manesar   | Uttar Pradesh
Hyderabad | Karnataka
Banglore  | Karnataka
Bangalore | Tamil Nadu
Noida     | New Delhi
Kolkata   | West Bengal
... (3527 rows omitted)

**B.** In the above table, we have cities in one column and states in the other, so it's hard to see which rows match up. To help us, let's import the table of data from the 500 largest cities in India. Run the cell below.

In [5]:
cities = Table().read_table("cities.csv")
states = cities.column("state_name")
state_lst = list(states)
processed_states = [s.title() for s in state_lst]
cities = cities.drop("state_name").with_column("state", processed_states)
cities

name_of_city | state_code | dist_code | population_total | population_male | population_female | 0-6_population_total | 0-6_population_male | 0-6_population_female | literates_total | literates_male | literates_female | sex_ratio | child_sex_ratio | effective_literacy_rate_total | effective_literacy_rate_male | effective_literacy_rate_female | location              | total_graduates | male_graduates | female_graduates | state
Abohar       | 3          | 9         | 145238           | 76840           | 68398             | 15870                | 8587                | 7283                  | 103319          | 58347          | 44972            | 890       | 848             | 79.86                         | 85.49                        | 73.59                          | 30.1452928,74.1993043 | 16287           | 8612           | 7675             | Punjab
Achalpur     | 27         | 7         | 112293           | 58256           | 54037             | 11810                | 6186                | 5624                  | 92433           | 49347          | 43086            | 928       | 909             | 91.99                         | 94.77                        | 89                             | 21.257584,77.5086754  | 8863            | 5269           | 3594             | Maharashtra
Adilabad     | 28         | 1         | 117388           | 59232           | 58156             | 13103                | 6731                | 6372                  | 83955           | 46295          | 37660            | 982       | 947             | 80.51                         | 88.18                        | 72.73                          | 19.0809075,79.560344  | 10565           | 6797           | 3768             | Andhra Pradesh
Adityapur    | 20         | 24        | 173988           | 91495           | 82493             | 23042                | 12063               | 10979                 | 125985          | 71470          | 54515            | 902       | 910             | 83.46                         | 89.98                        | 76.23                          | 22.7834741,86.1576889 | 19225           | 12189          | 7036             | Jharkhand
Adoni        | 28         | 21        | 166537           | 82743           | 83794             | 18406                | 9355                | 9051                  | 101292          | 56203          | 45089            | 1013      | 968             | 68.38                         | 76.58                        | 60.33                          | 15.6322227,77.2728368 | 11902           | 7871           | 4031             | Andhra Pradesh
Agartala     | 16         | 1         | 399688           | 199616          | 200072            | 33635                | 17341               | 16294                 | 343633          | 174524         | 169109           | 1002      | 940             | 93.88                         | 95.75                        | 92.02                          | 23.831457,91.2867777  | 52711           | 30215          | 22496            | Tripura
Agra         | 9          | 15        | 1574542          | 849771          | 724771            | 186516               | 105279              | 81237                 | 880530          | 503805         | 376725           | 853       | 772             | 63.44                         | 67.67                        | 58.54                          | 27.1766701,78.0080745 | 185813          | 106082         | 79731            | Uttar Pradesh
Ahmadabad    | 24         | 7         | 5570585          | 2935869         | 2634716           | 589076               | 317917              | 271159                | 4464303         | 2459823        | 2004480          | 897       | 853             | 89.62                         | 93.96                        | 84.81                          | 23.022505,72.5713621  | 769858          | 435267         | 334591           | Gujarat
Ahmadnagar   | 27         | 26        | 350905           | 179755          | 171150            | 36712                | 19748               | 16964                 | 287468          | 152819         | 134649           | 952       | 859             | 91.49                         | 95.51                        | 87.33                          | 19.0952075,74.7495916 | 51661           | 29832          | 21829            | Maharashtra
Aizawl       | 15         | 3         | 291822           | 143803          | 148019            | 35147                | 17667               | 17480                 | 253588          | 125256         | 128332           | 1029      | 989             | 98.8                          | 99.3                         | 98.31                          | 23.727107,92.7176389  | 26832           | 14900          | 11932            | Mizoram
... (483 rows omitted)

Create a new table `states`, by joining this table with our `job_cities` table. In your `states` table you should get rid of all of the irrelevant columns – we only want two columns, and they should both contain names of states.

In [ ]:
states = job_cities.join(..., ..., ...).select(..., ...)
states

**C.** The `states` table above shows us the states in which people went to college and the states where they are working. Calculate the probability that someone went to college and got their job in the same state.

In [ ]:
total = states.num_rows
college_state = ...
state = ...
count = 0
for i in range(len(college_state)):
    if ...:
        count += 1
        
prob_same_state = count / total
prob_same_state

**D.** Use the Complement Rule to find the probability that someone is working in a state different from where they went to college.

In [ ]:
prob_different_state = ...
prob_different_state

**E.** Now, find the amount of subjects in the table working in each city. [Description of rows + columns]

In [42]:
city_jobs = salaries.group("JobCity").sort("count", descending = True)
averaged = salaries.group("JobCity", np.mean).where("JobCity", are.contained_in(city_jobs.column(0))).column("Salary mean")
city_jobs = city_jobs.with_column("Average Salary (Rupees)", averaged)
city_jobs

JobCity   | count | Average Salary (Rupees)
Bangalore | 647   | 560000
Noida     | 386   | 335000
Hyderabad | 357   | 185000
Pune      | 320   | 360000
Chennai   | 304   | 180000
New Delhi | 222   | 570000
Gurgaon   | 214   | 120000
Mumbai    | 147   | 360000
Kolkata   | 118   | 150000
Jaipur    | 52    | 266667
... (283 rows omitted)

Now, let us consider the city_jobs table, defined below.

In [10]:
city_jobs = salaries.group("JobCity").sort("count", descending = True)
averaged = salaries.group("JobCity", np.mean).where("JobCity", are.contained_in(city_jobs.column(0))).column("Salary mean")
city_jobs = city_jobs.with_column("Average Salary (Rupees)", averaged)
city_jobs

JobCity   | count | Average Salary (Rupees)
Bangalore | 647   | 560000
Noida     | 386   | 335000
Hyderabad | 357   | 185000
Pune      | 320   | 360000
Chennai   | 304   | 180000
New Delhi | 222   | 570000
Gurgaon   | 214   | 120000
Mumbai    | 147   | 360000
Kolkata   | 118   | 150000
Jaipur    | 52    | 266667
... (283 rows omitted)

**E.** Using the city_jobs table above, find the probability that someone works in Bangalore. Hint: np.sum(x) finds the sum of array x.

In [ ]:
prob_works_banglore = ...
prob_works_banglore

**F.** Using the same table, calculate the probability that someone is from either New Delhi or Hyderabad. It may be easier to do this question by looking at the table rather than writing code... either way is fine.

In [ ]:
prob_banglore_or_delhi = ...
prob_banglore_or_delhi =

**G.** Let's look at the GDP per capita (economic output per person) of a couple cities in India.

In [ ]:
# Table Source: https://www.brookings.edu/wp-content/uploads/2015/01/bmpp_GMM_final.pdf
city_gdp = Table().read_table("city_gdp.csv")
city_gdp = city_gdp.drop(0).drop(1).drop(1)
city_gdp

**H.** Fill in the code below to convert the values in the second column of city_gdp from strings to integers, and then display the data as a bar graph.

In [ ]:
# Table Source: https://www.brookings.edu/wp-content/uploads/2015/01/bmpp_GMM_final.pdf
# Exchange rate: https://www.poundsterlinglive.com/best-exchange-rates/us-dollar-to-indian-rupee-exchange-rate-on-2014-05-29

def clean_and_convert(arr):
    converted = np.array([])
    for i in arr:
        val = int(i.replace(..., ...).replace(..., ...))
        converted = np.append(..., ...)
    return (converted * 58.9323) / 1000                # Converting from USD to thousands of INR

gdp_rupees = clean_and_convert(city_gdp.column(1))
cleaned = Table().with_columns("City", city_gdp.column(0), "GDP per capita (Thousands of Rupees)", gdp_rupees).sort(1, descending = True)
cleaned.barh(...)

**J.** Do you think that if the survey had more respondents, would the distribution of average salaries look more like the graph of GDP per capita? Why or why not?

**Answer:**

## Question 3: Correlation and Regression Questions

**A.** Write a function to convert an array to standard units.

In [49]:
def standard_units(values):
    "***YOUR CODE HERE***"
    
    return (values - np.mean(values))/np.std(values)

**B.** Write a function that takes in two arrays and returns the correlation coefficient between them. It may help to review the definition of $r$ before preceeding. *Hint: There's a reason part B is coming after part A!*

In [53]:
def correlation(x, y):
    "***YOUR CODE HERE***"
    
    return np.mean(standard_units(x) * standard_units(y))

**C.** The graduates took the AMCAT, an exam that assesses skills required for certain professions.

In [ ]:
subjects = salaries.select("ComputerProgramming", "ElectronicsAndSemicon", "ComputerScience", "MechanicalEngg", "ElectricalEngg", "TelecomEngg", "CivilEngg")
subjects

Calculate the correlation coefficient between exam scores on subject tests and salaries.

In [55]:
#Should definitely contain more starter code? Prob statement can be changed too.
for i in np.array(["ElectricalEngg", "ComputerScience", "CivilEngg", "MechanicalEngg"]):
    tbl = salaries.where(i, are.not_equal_to(-1))
    print("Number of Unique Professions " + i, tbl.group("Designation").num_rows)
    print("r " + i, calc_r(tbl, i, "Salary"))

Number of Unique Professions ElectricalEngg 87
r ElectricalEngg 0.242604625626
Number of Unique Professions ComputerScience 161
r ComputerScience 0.128899744755
Number of Unique Professions CivilEngg 24
r CivilEngg 0.246086564427
Number of Unique Professions MechanicalEngg 90
r MechanicalEngg 0.182627170214

**D.** Make scatter plots of the profession with the highest and lowest correlation to the salary. Is this what you expect?

**E.** Would we use linear regression here? Why or why not??

**Answer:**

## Question 4: Correlation and Regression Implementation

You've done a lot of questions thus far! Now, for something exciting. Here, we're going to be conducting our own analysis using linear regression on students' exam scores. Not only will we find the regression line, we're also going to use this *model* to predict how much someone might earn!

Before we begin, let's just get this out of the way.

**A.** Will getting higher marks on your exams *cause* you to earn more money?

**Answer:**

**B.** Let's take a look at the `salaries` table again. We're going to be plotting people's scores from their 12th grade board exams. We chose the 12th grade scores over 10th grade scores, as they've obviously picked up more relevant skills since then, and over college GPA because that takes into account courses that may not have to do with the subjects' careers. Here are the correlation coefficients for each factor.

*Class 10 CBSE Scores: 0.28*

*Class 12 CBSE Scores: 0.29*

*College GPA: 0.22*

In [7]:
salaries

ID      | Salary  | DOJ         | DOL         | Designation              | JobCity   | Gender | DOB          | 10percentage | 10board                        | 12graduation | 12percentage | 12board                            | CollegeID | CollegeTier | Degree      | Specialization                            | collegeGPA | CollegeCityID | CollegeCityTier | CollegeState   | GraduationYear | English | Logical | Quant | Domain   | ComputerProgramming | ElectronicsAndSemicon | ComputerScience | MechanicalEngg | ElectricalEngg | TelecomEngg | CivilEngg | conscientiousness | agreeableness | extraversion | nueroticism | openess_to_experience
203097  | 420000  | 6/1/12 0:00 | present     | senior quality engineer  | Bangalore | f      | 2/19/90 0:00 | 84.3         | board ofsecondary education,ap | 2007         | 95.8         | board of intermediate education,ap | 1141      | 2           | B.Tech/B.E. | computer engineering                      | 78         | 1141          | 0               | Andhra Pradesh | 2011           | 515     | 585     | 525   | 0.635979 | 445                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.9737            | 0.8128        | 0.5269       | 1.3549      | -0.4455
579905  | 500000  | 9/1/13 0:00 | present     | assistant manager        | Indore    | m      | 10/4/89 0:00 | 85.4         | cbse                           | 2007         | 85           | cbse                               | 5807      | 2           | B.Tech/B.E. | electronics and communication engineering | 70.06      | 5807          | 0               | Madhya Pradesh | 2012           | 695     | 610     | 780   | 0.960603 | -1                  | 466                   | -1              | -1             | -1             | -1          | -1        | -0.7335           | 0.3789        | 1.2396       | -0.1076     | 0.8637
810601  | 325000  | 6/1/14 0:00 | present     | systems engineer         | Chennai   | f      | 8/3/92 0:00  | 85           | cbse                           | 2010         | 68.2         | cbse                               | 64        | 2           | B.Tech/B.E. | information technology                    | 70         | 64            | 0               | Uttar Pradesh  | 2014           | 615     | 545     | 370   | 0.450877 | 395                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.2718            | 1.7109        | 0.1637       | -0.8682     | 0.6721
267447  | 1100000 | 7/1/11 0:00 | present     | senior software engineer | Gurgaon   | m      | 12/5/89 0:00 | 85.6         | cbse                           | 2007         | 83.6         | cbse                               | 6920      | 1           | B.Tech/B.E. | computer engineering                      | 74.64      | 6920          | 1               | New Delhi      | 2011           | 635     | 585     | 625   | 0.974396 | 615                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.0464            | 0.3448        | -0.344       | -0.4078     | -0.9194
343523  | 200000  | 3/1/14 0:00 | 3/1/15 0:00 | get                      | Manesar   | m      | 2/27/91 0:00 | 78           | cbse                           | 2008         | 76.8         | cbse                               | 11368     | 2           | B.Tech/B.E. | electronics and communication engineering | 73.9       | 11368         | 0               | Uttar Pradesh  | 2012           | 545     | 625     | 465   | 0.124502 | -1                  | 233                   | -1              | -1             | -1             | -1          | -1        | -0.881            | -0.2793       | -1.0697      | 0.09163     | -0.1295
1027655 | 300000  | 6/1/14 0:00 | present     | system engineer          | Hyderabad | m      | 7/2/92 0:00  | 89.92        | state board                    | 2010         | 87           | state board                        | 5086      | 2           | B.Tech/B.E. | electronics and communication engineering | 76.32      | 5086          | 0               | Karnataka      | 2014           | 560     | 555     | 620   | -1       | 645                 | -1                    | 407             | -1             | -1             | -1          | -1        | -0.3027           | -0.6201       | -2.2954      | -0.7415     | -0.8608
947847  | 300000  | 8/1/14 0:00 | 5/1/15 0:00 | java software engineer   | Banglore  | m      | 2/1/93 0:00  | 86.08        | state board                    | 2010         | 67.5         | state board                        | 314       | 2           | B.Tech/B.E. | computer science & engineering            | 72.98      | 314           | 1               | Karnataka      | 2014           | 590     | 435     | 380   | 0.356536 | 405                 | -1                    | 346             | -1             | -1             | -1          | -1        | 1.7081            | -0.1054       | -1.0379      | -2.0092     | -1.0872
912934  | 400000  | 7/1/14 0:00 | 7/1/15 0:00 | mechanical engineer      | Bangalore | m      | 5/27/92 0:00 | 92           | cbse                           | 2010         | 91           | cbse                               | 1757      | 1           | B.Tech/B.E. | mechanical engineering                    | 8.58       | 1757          | 0               | Tamil Nadu     | 2016           | 545     | 555     | 590   | 0.829585 | -1                  | -1                    | -1              | 469            | -1             | -1          | -1        | -0.0154           | 1.2114        | 0.01         | 0.1459      | 1.247
552574  | 600000  | 7/1/13 0:00 | present     | electrical engineer      | Noida     | m      | 9/17/91 0:00 | 90           | cbse                           | 2009         | 91.2         | cbse                               | 13        | 1           | B.Tech/B.E. | electronics and electrical engineering    | 85.03      | 13            | 1               | New Delhi      | 2013           | 615     | 670     | 530   | 0.694479 | 735                 | 366                   | -1              | -1             | -1             | -1          | -1        | -0.159            | 0.5454        | -0.6048      | -0.7415     | -0.2859
1203363 | 230000  | 7/1/14 0:00 | present     | project engineer         | Kolkata   | m      | 6/13/93 0:00 | 77           | cbse                           | 2010         | 72.2         | cbse                               | 8640      | 2           | B.Tech/B.E. | electronics and communication engineering | 78         | 8640          | 1               | West Bengal    | 2014           | 605     | 565     | 545   | 0.493596 | 385                 | 324                   | -1              | -1             | -1             | -1          | -1        | -1.308            | 0.5454        | -0.9122      | 0.9066      | 0.0973
... (3527 rows omitted)

In addition to the column 12percentage, we also have a column called 12board, which contains information on whether or not a student took exams from their state board or the CBSE. We want to look at the exam which the most students took, so let's clean out our dataset.

Create a table called salary_12, with columns Salary and 12percentage from the table. It should only contain entries where the subjects took the CBSE exams. Once you're done, run the next cell to make a scatter plot.

In [ ]:
salary_12 = salaries.____("_____", are.______("_______"))._______("______", "________")

In [ ]:
salary_12.scatter("12percentage", "Salary", fit_line=True)

**C.** Great! Now that we have our table, it's time to calculate the regression line!

For starters, calculate r, the correlation coefficient between 12percentage and salary.

Hint: Make sure you use a function you defined in Question 3 of the case study.

In [ ]:
r =

Write the function values, which calculates the slope and intercept of the regression line. You can use NumPy functions for this.

In [ ]:
def values(tbl, r, col_1, col_2):
    m = 
    b = 
    return m, b
line_vals = values(salary_12, r, "12percentage", "Salary")
slope = line_vals[0]
intercept = line_vals[1]
print("Slope: " + str(slope))
print("Intercept: " + str(intercept))

**D.** Write a function, predict_salary, that takes in an array, a slope, and an intercept, and returns the predictions for the regression line. This should just take one line of code.

In [ ]:
def predict_salary(values, m, b):
    "***YOUR CODE HERE***"

salary_predictions = predict_salary(test_data.column("12percentage"), slope, intercept)

**E.** Let's now see how good our predictions were. Create a new table, salary_comp, that adds the column of predictions to our salary_12 table.

In [ ]:
salary_comp = salary_12.with_column(..., __________)

Run the cell below to look at a scatter plot of salaries.

In [ ]:
plt.scatter(salary_12.column(0), salary_12.column(1))
plt.scatter(salary_12.column(0), salary_12.column(2))

Write a function called rmse that allows us to find the root mean squared error of salary_predictions. It should take in two column names. Once you're done writing it, call it and see what happens!

In [ ]:
def rmse(col_1, col_2):
    # First, calculate the total squared error.
    total_squared error = sum((salary_predictions.column(______) - ___________) ** 2)
    return np.____(total_squared_error / ____.num_rows)
rmse(______, "_____", "_______")

**F.** In Lesson 9, we briefly discussed a method called least squares that allows us to minimize the squared error of our regression line. Now, we're actually going to use it. The datascience library contains a function called minimize, that takes in a function and gives us an array of the parameters that give us the lowest output of the function using the least squares method.

Call `minimize` on `rmse` and print `min_slope` and `min_intercept`. How does it look like compared to your previous values?

In [ ]:
minimized_params = 
min_slope = minimize_params[0]
min_intercept = minimize_params[1]

print(...)

**G.** Predict salaries using your new values for the slope and intercept.

In [ ]:
least_squares_predictions =

Add this to your salary_comp table and plot the results

In [ ]:
salary_comp = salary_comp.with_column("_______", _______)

**H.** Now, let's look at this table, called `test`. Are the salaries calculated here?

In [12]:
test = Table().read_table("engineering_salaries_test.csv")
test

Type | ID      | Salary | DOJ  | DOL  | Designation | JobCity | Gender | DOB           | 10percentage | 10board     | 12graduation | 12percentage | 12board     | CollegeID | CollegeTier | Degree      | Specialization                            | collegeGPA | CollegeCityID | CollegeCityTier | CollegeState   | GraduationYear | English | Logical | Quant | Domain    | ComputerProgramming | ElectronicsAndSemicon | ComputerScience | MechanicalEngg | ElectricalEngg | TelecomEngg | CivilEngg | conscientiousness | agreeableness | extraversion | nueroticism | openess_to_experience
test | 664736  | ?      | ?    | ?    | ?           | ?       | m      | 1/16/92 0:00  | 75           | cbse        | 2009         | 74           | cbse        | 13478     | 2           | B.Tech/B.E. | electronics and communication engineering | 67.2       | 13478         | 0               | Haryana        | 2013           | 510     | 460     | 620   | 0.229482  | 385                 | 266                   | -1              | -1             | -1             | -1          | -1        | 0.2718            | -0.2871       | 0.4711       | -0.7415     | -0.4776
test | 1123290 | ?      | ?    | ?    | ?           | ?       | m      | 6/5/92 0:00   | 83           | state board | 2009         | 75           | state board | 65        | 2           | B.Tech/B.E. | information technology                    | 71.1       | 65            | 0               | Uttar Pradesh  | 2014           | 535     | 605     | 655   | 0.0800553 | 545                 | -1                    | 253             | -1             | -1             | -1          | -1        | 0.7027            | 0.2124        | 1.2396       | -0.8682     | 1.0554
test | 1062444 | ?      | ?    | ?    | ?           | ?       | f      | 11/22/92 0:00 | 85.2         | cbse        | 2010         | 91.4         | state board | 3505      | 2           | B.Tech/B.E. | information technology                    | 80.5       | 3505          | 0               | Andhra Pradesh | 2014           | 745     | 690     | 655   | 0.990009  | 655                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.1282            | 1.0449        | -0.6048      | -1.6289     | -0.8608
test | 1072028 | ?      | ?    | ?    | ?           | ?       | f      | 10/17/90 0:00 | 81.8         | state board | 2010         | 80.8         | state board | 3931      | 2           | B.Tech/B.E. | information technology                    | 70.38      | 3931          | 0               | Andhra Pradesh | 2014           | 325     | 455     | 415   | 0.842248  | 535                 | -1                    | 469             | -1             | -1             | -1          | -1        | 0.4155            | 1.0449        | -0.6048      | 1.5404      | 1.0554
test | 267259  | ?      | ?    | ?    | ?           | ?       | m      | 3/20/90 0:00  | 78           | cbse        | 2007         | 78           | cbse        | 7564      | 2           | B.Tech/B.E. | computer engineering                      | 71         | 7564          | 0               | Haryana        | 2011           | 475     | 395     | 435   | 0.864685  | 525                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.0464            | 0.0328        | -0.0537      | 0.0623      | 0.6603
test | 283564  | ?      | ?    | ?    | ?           | ?       | m      | 10/4/89 0:00  | 87           | cbse        | 2007         | 68.4         | cbse        | 2097      | 2           | B.Tech/B.E. | computer engineering                      | 70.24      | 2097          | 0               | Uttar Pradesh  | 2011           | 505     | 645     | 645   | 0.843124  | 515                 | -1                    | -1              | -1             | -1             | -1          | -1        | -0.2628           | 0.3448        | 0.0914       | 0.7673      | -0.4455
test | 1264575 | ?      | ?    | ?    | ?           | ?       | m      | 9/23/93 0:00  | 79.2         | cbse        | 2010         | 73.73        | cbse        | 8633      | 2           | B.Tech/B.E. | electronics and communication engineering | 70.9       | 8633          | 0               | Uttar Pradesh  | 2014           | 395     | 520     | 560   | 0.64939   | 405                 | 356                   | -1              | -1             | -1             | 388         | -1        | -2.7443           | 0.8784        | -0.1437      | 0.2727      | -0.0943
test | 1091378 | ?      | ?    | ?    | ?           | ?       | m      | 4/26/89 0:00  | 67           | state board | 2007         | 73           | state board | 8949      | 2           | MCA         | computer application                      | 73         | 8949          | 1               | Karnataka      | 2013           | 325     | 360     | 415   | 0.450877  | 395                 | -1                    | -1              | -1             | -1             | -1          | -1        | -0.3027           | 0.7119        | 1.2396       | -0.2344     | 0.8637
test | 361658  | ?      | ?    | ?    | ?           | ?       | m      | 7/7/90 0:00   | 90.56        | 0           | 2008         | 83.33        | 0           | 1384      | 2           | B.Tech/B.E. | mechanical engineering                    | 84.1       | 1384          | 0               | Karnataka      | 2012           | 415     | 405     | 495   | 0.607034  | -1                  | -1                    | -1              | 409            | -1             | -1          | -1        | -0.1082           | 0.9688        | 0.2729       | -0.4078     | -1.2354
test | 1119280 | ?      | ?    | ?    | ?           | ?       | f      | 4/6/92 0:00   | 73.8         | cbse        | 2010         | 74           | cbse        | 1125      | 2           | B.Tech/B.E. | information technology                    | 77         | 1125          | 0               | Orissa         | 2014           | 385     | 495     | 415   | 0.864685  | 525                 | -1                    | -1              | -1             | -1             | -1          | -1        | 0.8463            | 0.7119        | 0.9322       | -2.136      | 1.6302
... (1490 rows omitted)

Filter out the table, predict the salaries, and plot the results. This is similar to something you've already done, just with different data!

## Conclusion

Although this table was specific to engineering graduates, you can try finding data for other professions online and doing an analysis just like this! Do you think it'll be similar or different for other professions? Why? Why not? You don't have to answer these questions, but definitely give them some thought. We hope you had fun applying your skills here and hope you're ready to do some more work with real data in the next session!