In [2]:
import numpy as np
import pandas as pd

In [6]:
oci = pd.read_csv("overseas.csv")
oci

,Country,Mission,Date,OCI - Registered,OCI - Issued,Image - Scanned,OCI - Granted,OCI - Despatched to mission,OCI - Enquiries
0,SRI LANKA,COLOMBO,08-12-2005,1,0,0,0,0,0
1,SRI LANKA,COLOMBO,09-12-2005,1,0,0,0,0,0
2,SRI LANKA,COLOMBO,12-12-2005,1,0,0,0,0,0
3,UNITED KINGDOM,LONDON,12-12-2005,1,0,0,0,0,0
4,CANADA,OTTAWA,13-12-2005,1,0,0,0,0,0
5,CANADA,VANCOUVER,13-12-2005,1,0,0,0,0,0
6,AUSTRALIA,SYDNEY,14-12-2005,1,0,4,3,0,0
7,SRI LANKA,COLOMBO,14-12-2005,1,0,5,2,0,0
8,INDIA,MHA DELHI,17-12-2005,35,28,56,40,0,0
9,INDIA,MHA DELHI,18-12-2005,2,0,0,70,0,0
10,SRI LANKA,COLOMBO,19-12-2005,5,0,2,11,0,0
11,UAE,DUBAI,19-12-2005,1,0,0,0,0,0
12,AUSTRALIA,SYDNEY,20-12-2005,15,0,40,38,0,0
13,CANADA,TORONTO,20-12-2005,8,0,0,0,0,0
14,SRI LANKA,COLOMBO,20-12-2005,15,0,6,6,0,0
15,AUSTRALIA,SYDNEY,21-12-2005,89,61,19,9,0,0
16,CANADA,TORONTO,21-12-2005,4,0,0,0,0,0
17,INDIA,FRRO DELHI,21-12-2005,1,0,0,0,0,0
18,SRI LANKA,COLOMBO,21-12-2005,6,1,0,0,0,0
19,CANADA,OTTAWA,22-12-2005,1,0,0,0,0,0
20,CANADA,TORONTO,22-12-2005,3,0,0,0,0,0
21,SRI LANKA,COLOMBO,22-12-2005,4,0,0,0,0,0
22,UAE,DUBAI,22-12-2005,3,0,0,0,0,0
23,CANADA,OTTAWA,23-12-2005,2,0,0,0,0,0
24,CANADA,TORONTO,23-12-2005,7,0,0,0,0,0
25,INDIA,MHA DELHI,23-12-2005,2,1,49,1,0,0
26,CANADA,TORONTO,26-12-2005,5,0,0,0,0,0
27,INDIA,MHA DELHI,26-12-2005,34,29,1,109,0,0
28,SRI LANKA,COLOMBO,26-12-2005,17,0,0,0,0,0
29,AUSTRALIA,SYDNEY,27-12-2005,37,10,5,37,0,0
...,...,...,...,...,...,...,...,...,...
35505,CANADA,VANCOUVER,31-12-2009,3,17,21,21,0,0
35506,CHINA,HONG KONG,31-12-2009,17,15,15,17,3,0
35507,DENMARK,COPENHAGEN,31-12-2009,0,8,0,0,0,0
35508,FRANCE,PARIS,31-12-2009,0,1,7,1,11,0
35509,GERMANY,MUNICH,31-12-2009,0,2,0,0,1,0
35510,INDIA,FRRO AMRITSAR,31-12-2009,0,1,1,1,0,0
35511,INDIA,FRRO DELHI,31-12-2009,5,7,3,10,0,0
35512,INDIA,FRRO MUMBAI,31-12-2009,10,20,0,20,0,0
35513,INDIA,MHA DELHI,31-12-2009,11,28,11,29,0,0
35514,IRELAND,DUBLIN,31-12-2009,0,14,0,0,0,0
35515,ITALY,ROME,31-12-2009,4,0,0,0,0,0
35516,KENYA,MOMBASA,31-12-2009,1,6,1,4,1,0
35517,KENYA,NAIROBI,31-12-2009,0,2,43,0,0,0
35518,NETHERLANDS,THE HAGUE,31-12-2009,1,0,1,1,1,0
35519,NEW ZEALAND,WELLINGTON,31-12-2009,6,0,5,0,1,0
35520,PORTUGAL,LISBON,31-12-2009,0,14,0,0,1,0
35521,QATAR,DOHA,31-12-2009,2,0,0,0,0,0
35522,SINGAPORE,SINGAPORE,31-12-2009,18,14,18,14,0,0
35523,SRI LANKA,COLOMBO,31-12-2009,1,12,12,11,7,0
35524,SWAZILAND,GENEVA,31-12-2009,0,3,0,0,0,0
35525,TRINIDAD AND TOBAGO,PORT OF SPAIN,31-12-2009,0,1,0,0,0,0
35526,UAE,DUBAI,31-12-2009,6,0,0,0,0,0
35527,UNITED KINGDOM,BIRMINGHAM,31-12-2009,2,3,66,0,80,0
35528,UNITED KINGDOM,EDINBURGH,31-12-2009,6,1,0,0,1,0
35529,UNITED KINGDOM,LONDON,31-12-2009,135,126,25,130,133,0
35530,UNITED STATES,CHICAGO,31-12-2009,95,177,144,226,105,0
35531,UNITED STATES,HOUSTON,31-12-2009,52,123,52,126,70,0
35532,UNITED STATES,NEW YORK CGI,31-12-2009,115,9,47,12,223,0
35533,UNITED STATES,SAN FRANCISCO,31-12-2009,19,52,19,39,142,0
35534,UNITED STATES,WASHINGTON DC,31-12-2009,12,3,0,5,89,0

In [9]:
total = oci.loc(3)
for col in np.arange(4, 9):
    total += oci.loc(col)

TypeError: unsupported operand type(s) for +=: '_LocIndexer' and '_LocIndexer'

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U21') dtype('<U21') dtype('<U21')