<img src="../dsi.png" style="height:128px;">

## Lesson 5: Exercises

We've given you a lot of material in the past few sessions. Let's work on a key concept we covered last session: Ttables.

In [1]:
import numpy as np
from datascience import *

**RCB's Cricket Confusion** 

Royal Challengers Bangalore finished last in IPL 2017. The coach wants to build a strong team next year to win the trophy by buying the best possible players in the auction. You're a sports analyst whose job is to help him put a team together that's within his budget. There are 3 categories of players with the following costs in crores.
Tier 1: 1
Tier 2: 0.5
Tier 3: 0.25
 
The coach has 10 crores to spend and can purchase 11 to 16 players he wants from this set of 28. Write a function that accepts the coach's input for the number of players he wants that's within his budget.

*Return* the players' total salary and *print* their names.
REMEMBER: We refer to the first value in a column with 0!

Sample Output: select_players(2, 4, 5)
[MS Dhoni, Virat Kohli], [Suresh Raina, Ambati Rayudu, Rohit Sharma, Murali Vijay, Amit Mishra], [Axar Patel, Stuart Binny, Wriddhiman Saha, Mohit Sharma]
5.25

Sample Input: select_players(2, 2, 5)
Sample Output: Too few players!

Sample Input: select_players(10, 3, 1)
Sample Output: Too many players!

In [4]:
players = Table().read_table("cricket_tiers.csv")
#Source: http://www.totalsportek.com/cricket/indian-player-salaries-central-contracts-2015/
players.show()

How can you find the number of players in each tier? Hint: Once you have this table, pass this number in as the first parameter of the *range* function when splitting up the players table

In [3]:
players.group("Tier")

Tier | count
1    | 4
2    | 10
3    | 14

In [18]:
def select_players(tier_1, tier_2, tier_3):
    total_players = tier_1 + tier_2 + tier_3
    if total_players < 11:
        print("Too few players!")
    elif total_players > 16:
        print("Too many players!")
    else:
        t1 = players.where("Tier", are.equal_to(1)).take(range(0, tier_1)).column("PLAYER")
        t2 = players.where("Tier", are.equal_to(2)).take(range(0, tier_2)).column("PLAYER")
        t3 = players.where("Tier", are.equal_to(3)).take(range(0, tier_3)).column("PLAYER")
        print(t1)
        print(t2)
        print(t3)
        #How will you access the players' names using the column() function?
        
        
        
        total_salary = __________+_____________+______________
        if total_salary > 100:
            return "Too expensive! Select a different combination!"
        return total_salary

Test out your function here.

In [19]:
select_players(2, 7, 3)

['MS Dhoni' 'Virat Kohli']
['Suresh Raina' 'Ambati Rayudu' 'Rohit Sharma' 'Murali Vijay'
 'Shikhar Dhawan' 'Bhuvneshwar Kumar' 'Umesh Yadav']
['Amit Mishra' 'Axar Patel' 'Stuart Binny']

array(['Amit Mishra', 'Axar Patel', 'Stuart Binny'],
      dtype='<U17')

**Building a Better Estimate**

Raju the builder has made N measurements. Now, he wants to know the average value of the measurements made. In order to make the average value a better representative of the measurements, before calculating the average, he wants first to remove the highest K and the lowest K measurements. After that, he will calculate the average value among the remaining N - 2K measurements.
Could you help Raju find the average value he will get after these manipulations?


Sample Input: 
N - 5 
K - 1
N values - 2 9 -10 25 1
Sample Output: 
4.00000

In [ ]:
def new_measurements(n, k, arr):
    
    for i in range(___, ___):

**Aditi’s Career Planning**
 
Aditi can’t decide what field she wants to work in when she grows up! She likes medicine and engineering equally so her father advised her to pick the field that pays the most to an average worker. Aditi has collected tables containing the necessary data on the salaries of professionals in these fields and stored them in 2 unsorted arrays. Can you help her find out which job to pick as per her father’s advice? 

Hint: use the sort() function.

In [ ]:
def salary(med, engg):
    #In Python, we can define functions inside our own functions. 
    #This function will compute a certain quantity from each array for you to help you compare the salaries.
    #What quantity do you think it is?
    def helper(array):
        
        _________________
        
        _________________
        length = len(array)
        if ___________:
            return array[___]
        else:
            return __________
        
    med_salary = _____________
    engg_salary = ____________
    law_salary = _____________
    #The max() function takes the maximum of all the values you put into it
    best_salary = max(___________, ______________, ___________) 
    if best_salary == engg_salary:
        print("Engineering")
    else:
        print("Medicine")

Now, try to find an array of salaries from these two tables.

In [21]:
engineers = Table.read_table("engineering_data.csv")
#Source: http://research.aspiringminds.com/resources/#datasets
doctors = Table.read_table("doctor_salaries.csv")
#Source: https://www.glassdoor.com/Salaries/india-doctor-salary-SRCH_IL.0,5_IN115_KO6,12_IP6.htm
med_strip = list(map(lambda s : s.replace(",",""), doctors.column("Salary")))

#This space is for you to see what's inside each table.

array([   59447.,  1175091.,   122566.,   319328.,   128659.,    47065.,
         974240.,   826281.,  1269676.,    38773.,    64477.,    11796.,
          39845.,    47334.,    52967.,    32988.,   128411.,    51686.,
          47376.,    50140.,    82389.,   118980.,   247352.,    40841.,
        7387274.,   111044.,    17979.,    35859.,    20084.,    47095.,
         516600.,   155303.,   128672.,    29254.,   705009.,    49763.,
         100159.,    61469.,    40122.,   385930.,   712630.,    17759.,
          24834.,  1149396.,    71984.,    33327.,    69998.,   776421.,
         128962.,    69312.,   768644.,    31159.,    21100.,    19474.,
         128970.,   420063.,    19999.,    51754.,    25966.,    11839.,
         670158.,    47259.,  1295646.,    50869.,  1415971.,    29456.,
         415383.,    58739.,  1184035.,   904750.,   115694.,    96512.,
          59169.,    38506.,  1938982.,    99616.,    38825.,    64635.,
          41390.,   128809.,    50176.,    25576.,    19401.,    34714.,
          51258.,    19370.,   115666.,    51613.,   440721.,   103755.,
         130251.,   231833.,   128848.,   462962.,   192913.,    12866.,
         948358.,    58846.,   141097.,   375787.,    51427.,    29770.,
          31971.,    64326.,    28430.,   514132.,   175534.,     8524.,
          24616.,   773302.,    33404.,   774587.,   323373.,    40059.,
          40498.])

In [ ]:
engg_salaries =
#We needed to clean up the table of doctors' salaries so that you could do calculations with it
med_salaries = np.asarray(med_strip).astype(np.float)

In [2]:
#Call your salary function here.

__________(________, ___________)

We hope you got some great practice today! In the next session, we're going to look at how tables can be applied when we're looking at probability.