In [49]:
import matplotlib
matplotlib.use('Agg')
from datascience import Table, predicates
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/matplotlib/__init__.py:1401: UserWarning:  This call to matplotlib.use() has no effect
because the backend has already been chosen;
matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

# Project: Crime In India

We've spent the last ten weeks learning a lot about how we can use programming to explore and visualize data. Now it's time to put everything you've learned into practice with a project!

In [50]:
crime_data = Table.read_table('crime_by_state.csv')
crime_data

STATE/UT       | Total Male | Total Female | Grand Total | Total population
ANDHRA PRADESH | 64916      | 13660        | 78576       | 1015986396
UTTAR PRADESH  | 70157      | 7588         | 77745       | 2195396247
MAHARASHTRA    | 29897      | 11151        | 41048       | 1236102692
WEST BENGAL    | 25332      | 8691         | 34023       | 1004825096
MADHYA PRADESH | 25227      | 4020         | 29247       | 798573215
GUJARAT        | 18026      | 5939         | 23965       | 664219908
BIHAR          | 17420      | 2727         | 20147       | 1141851007
ODISHA         | 14719      | 2464         | 17183       | 461420938
RAJASTHAN      | 14795      | 2300         | 17095       | 754831132
KARNATAKA      | 12946      | 3734         | 16680       | 672437744
... (25 rows omitted)

In [51]:
total_crime_by_state = crime_data.column("Grand Total")
population_by_state = crime_data.column("Total population")
weighted_crime_by_state = np.divide(100000.0 * total_crime_by_state, population_by_state)
crime_data = crime_data.with_column("Weighted Crime", weighted_crime_by_state)
crime_data

STATE/UT       | Total Male | Total Female | Grand Total | Total population | Weighted Crime
ANDHRA PRADESH | 64916      | 13660        | 78576       | 1015986396       | 7.73396
UTTAR PRADESH  | 70157      | 7588         | 77745       | 2195396247       | 3.54127
MAHARASHTRA    | 29897      | 11151        | 41048       | 1236102692       | 3.32076
WEST BENGAL    | 25332      | 8691         | 34023       | 1004825096       | 3.38596
MADHYA PRADESH | 25227      | 4020         | 29247       | 798573215        | 3.66241
GUJARAT        | 18026      | 5939         | 23965       | 664219908        | 3.60799
BIHAR          | 17420      | 2727         | 20147       | 1141851007       | 1.76442
ODISHA         | 14719      | 2464         | 17183       | 461420938        | 3.72393
RAJASTHAN      | 14795      | 2300         | 17095       | 754831132        | 2.26474
KARNATAKA      | 12946      | 3734         | 16680       | 672437744        | 2.48053
... (25 rows omitted)

In [52]:
conviction_data = Table.read_table("convictions_by_state.csv")
conviction_data

STATE/UT          | Persons Arrested | Persons Chargesheeted | Persons Convicted | Persons Acquitted
A & N ISLANDS     | 73               | 73                    | 5                 | 68
ANDHRA PRADESH    | 39288            | 39191                 | 3527              | 35761
ARUNACHAL PRADESH | 202              | 130                   | 24                | 178
ASSAM             | 12346            | 7694                  | 637               | 11709
BIHAR             | 20147            | 19282                 | 1317              | 18830
CHANDIGARH        | 268              | 265                   | 38                | 230
CHHATTISGARH      | 6594             | 6566                  | 1605              | 4989
D & N HAVELI      | 30               | 38                    | 4                 | 26
DAMAN & DIU       | 45               | 54                    | 1                 | 44
DELHI             | 3981             | 3397                  | 1771              | 2210
... (25 rows omitted)

In [53]:
number_acquitted = conviction_data.column("Persons Acquitted")
number_arrested = conviction_data.column("Persons Arrested")
percentage_acquitted = np.divide(100*number_acquitted, number_arrested)
conviction_data = conviction_data.with_column("Percentage Acquitted", percentage_acquitted)
conviction_data

STATE/UT          | Persons Arrested | Persons Chargesheeted | Persons Convicted | Persons Acquitted | Percentage Acquitted
A & N ISLANDS     | 73               | 73                    | 5                 | 68                | 93.1507
ANDHRA PRADESH    | 39288            | 39191                 | 3527              | 35761             | 91.0227
ARUNACHAL PRADESH | 202              | 130                   | 24                | 178               | 88.1188
ASSAM             | 12346            | 7694                  | 637               | 11709             | 94.8404
BIHAR             | 20147            | 19282                 | 1317              | 18830             | 93.463
CHANDIGARH        | 268              | 265                   | 38                | 230               | 85.8209
CHHATTISGARH      | 6594             | 6566                  | 1605              | 4989              | 75.6597
D & N HAVELI      | 30               | 38                    | 4                 | 26                | 86.6667
DAMAN & DIU       | 45               | 54                    | 1                 | 44                | 97.7778
DELHI             | 3981             | 3397                  | 1771              | 2210              | 55.5137
... (25 rows omitted)

In [54]:
literacy_data = Table.read_table("literacy_by_state.csv")
literacy_data

State                     | Literacy Rate
Andaman & Nicobar Islands | 86.3
Andhra Pradesh            | 67.89
Arunachal Pradesh         | 67
Assam                     | 73.2
Bihar                     | 63.8
Chandigarh                | 86.4
Chhattisgarh              | 71
Dadra & Nagar Haveli      | 77.7
Daman & Diu               | 87.1
Delhi                     | 86.3
... (25 rows omitted)

In [55]:
literacy_data = literacy_data.with_column("Percentage Acquitted in 2012", conviction_data.column("Percentage Acquitted"))
literacy_data

State                     | Literacy Rate | Percentage Acquitted in 2012
Andaman & Nicobar Islands | 86.3          | 93.1507
Andhra Pradesh            | 67.89         | 91.0227
Arunachal Pradesh         | 67            | 88.1188
Assam                     | 73.2          | 94.8404
Bihar                     | 63.8          | 93.463
Chandigarh                | 86.4          | 85.8209
Chhattisgarh              | 71            | 75.6597
Dadra & Nagar Haveli      | 77.7          | 86.6667
Daman & Diu               | 87.1          | 97.7778
Delhi                     | 86.3          | 55.5137
... (25 rows omitted)